<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시판 작성물</title>
</head>

<style>
    .layout {
        width: 500px;
        margin: 0 auto;
        margin-top: 40px;
    }

    .layout input {
        width: 100%;
        box-sizing: board-box;
    }

    .layout textarea {
        width: 100%;
        margin-top: 10px;
        min-height: 300px;
    }

</style>

<body>
    <div class="layout">
        <form action="/board/writepro" method="post" enctype="multipart/form-data">
            <input name="title" type="text" value="제목">
            <textarea name="content">내용</textarea>
            <input type="file" name="file">
            <button type="submit">작성</button>
        </form>

        <a th:href="@{/board/list}">목록</a>
    </div>
</body>
</html>